---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import SideBar from "../components/SideBar.astro";
import { ViewTransitions } from "astro:transitions";
import ThemeSelector from "../components/ThemeSelector.astro"; // Barra desplegable cambio de tema.

import { SITE_TITLE, SITE_DESCRIPTION, TRANSITION_API } from "../config";

const {
  image,
  title = SITE_TITLE,
  description = SITE_DESCRIPTION,
  includeSidebar = true,
  sideBarActiveItemID,
  ogType,
} = Astro.props;
---

<!doctype html>
<html lang="en" data-theme="synthwave"> <head>
    <BaseHead title={title} description={description} image={image} ogType={ogType} />
    {TRANSITION_API && <ViewTransitions />}
    
    <script is:inline>
      // 2. Modificamos el script para que el "fallback" sea synthwave en lugar de light
      if (localStorage.getItem("theme") === null) {
        document.documentElement.setAttribute("data-theme", "synthwave");
      } else {
        document.documentElement.setAttribute("data-theme", localStorage.getItem("theme"));
      }
    </script>
  </head>
  <body>
    <div class="bg-base-100 drawer lg:drawer-open">
      <input id="my-drawer" type="checkbox" class="drawer-toggle" />
      <div class="drawer-content bg-base-100">
        
        <div class="fixed top-2 right-2 z-50">
          <ThemeSelector />
        </div>

        <Header title={SITE_TITLE} />
        <div class="md:flex md:justify-center">
          <main class="p-6 pt-10 lg:max-w-[900px] max-w-[100vw]">
            <slot />
          </main>
        </div>
        <Footer />
      </div>
      {includeSidebar && <SideBar sideBarActiveItemID={sideBarActiveItemID} />}
    </div>

    <script>
      const themeInputs = document.querySelectorAll('.theme-controller');
      themeInputs.forEach((input) => {
        input.addEventListener('change', (e) => {
          const target = e.target as HTMLInputElement;
          const theme = target.value;
          document.documentElement.setAttribute('data-theme', theme);
          localStorage.setItem('theme', theme);
        });
      });
    </script>
  </body>
</html>